:root {
    --bg-color: #7D170F;
    --card-bg: rgba(252, 249, 217, 0.05);
    --text-main: #FCF9D9;
    --text-dim: rgba(252, 249, 217, 0.7);
    --accent: #FCF9D9;
    --accent-glow: rgba(252, 249, 217, 0.1);
    --secondary: #FCF9D9;
    --container-width: 1100px;
    --nav-height: 80px;
}